# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# MLflow (Include mlruns if you want to track locally, exclude if irrelevant)
# mlruns/
# .trash/

# H2O
*.flow
h2o_runs/
